openai
langchain
cython
numpy
setuptools
unstructured
pdf2image
pytesseract
tiktoken
streamlit
evaluate
pythainlp
transformers
fairseq
sacremoses
sentencepiece
python-dotenv
fastapi
uvicorn
python-multipart